@font-face
{
font-family: KaushanScript-Regular;
src:url(../font/KaushanScript-Regular.otf);
}
#tlo_filtr{
position:relative;
font-family:KaushanScript-Regular;
background: rgba(247, 125, 9, 0.85);
border:2px solid red;
height:98%;
border-radius:20px;
margin-top:5px;
margin-left:8px;
margin-right:5px;
}
#button_szukaj{
position:relative;
width:100%;
height:15%;
padding-left:5%;
padding-right:5%;
padding-top:5%;

}
#opcje_filtrowania{
position:relative;
margin-left:3%;
width:95%;
height:80%;
font-size:1.5em;
overflow-y:auto;
}
#opcje_filtra_gatunek{
position:relative;
height:auto;
width:95%;
margin-left:2%;
overflow-y:auto;
}
#opcje_filtra_klubu{
position:relative;
height:auto;
width:95%;
margin-left:2%;
overflow-y:auto;
}
#opcje_filtra_zespoly{
position:relative;
height:auto;
width:95%;
margin-left:2%;
overflow-y:auto;
}