body{
margin:0px;
padding:10px;
height:100%;
}

#scena{
display:none;
position:relative;
width:100%;
height:100%;
background-color: #80B8E8;
#border: 2px solid red;
margin:0px;
padding:0px;
overflow-y: auto;
}
#scena_do_pojawiania{
position:relative;
width:100%;
height:70%;
background-color: #80B8E8;
border: 2px solid red;
margin:0px;
padding:0px;
}
#koncert{
position:relative;
width:90%;
height:30%;
background-color:white;
border:2px solid red;
margin-left:5%;
margin-top:2%;
}
#koncert_logo{
position:relative;
float:left;
background-color:gray;
width:12%;
height:100%;
}
#koncert_nazwa{
font-size:120%;
position:relative;
float:left;
#background-color:yellow;
width:88%;
height:20%;
}
#koncert_lewe_dane{
font-size:100%;
position:relative;
float:left;
#background-color:blue;
width:44%;
height:80%;
}
#koncert_prawe_dane{
font-size:90%;
position:relative;
float:left;
#background-color:green;
width:44%;
height:80%;
}
