body{
margin:0px;
padding:10px;
height:100%;
}

#scena{
position:relative;
width:100%;
height:70%;
#display:none;
background-color: #80B8E8;
border: 2px solid red;
margin:0px;
padding:0px;
overflow-y: auto;

}
#koncert{
position:relative;
width:90%;
height:20%;
background-color:red;
#border:2px solid green;
margin-left:5%;
margin-top:2%;
}
#koncert_logo{
position:relative;
float:left;
background-color:gray;
width:12%;
height:100%;
}
#koncert_nazwa{
position:relative;
float:left;
background-color:yellow;
width:88%;
height:20%;
}
#koncert_lewe_dane{
color:white;
position:relative;
float:left;
background-color:blue;
width:44%;
height:80%;
}
#koncert_prawe_dane{
position:relative;
float:left;
background-color:green;
width:44%;
height:80%;
}
