@font-face
{
font-family: KaushanScript-Regular;
src:url(../font/KaushanScript-Regular.otf);
}
#tlo_user{
position:relative;
font-family:KaushanScript-Regular;
background: rgba(247, 125, 9, 0.85);
border:2px solid red;
height:86%;
border-radius:20px;
margin-top:5px;
margin-left:8px;
margin-right:5px;
}
#nazwa_sekcji_user{
background-image: url('../image/inne/nazwa_sekcji_user.png') ;
background-size:100% 100%;
height: 12%;
position:relative;
padding:0;
margin:0;
}
#form_login{
font-family:KaushanScript-Regular;
}
#Haslo,#Login{
font-size:1.5em;
}
#username, #password {
font-size:1em;
margin-left:5px;
}
#username:focus, #password:focus {
outline: 3px solid red;
}
#for_chackbox{
position:relative;
width:100%;
display:block;
}
#forget{
float:right;
margin-right:10px;
cursor: pointer;
}
#forget:hover{
cursor: pointer;
color:red;
}